<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS -->   
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--Custom Styles-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" /> 

        <!-- Owl Carousel -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png')}}" />
        <title>Edit Event | Event Manager</title>
    </head>

    <body>
        <div class="menu-bar">
            <!-- NAVBAR -->
            <nav class="navbar navbar-expand-md navbar-dark sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="index.html"><img src="{{ url_for('static', filename='img/logo.png')}}" alt="Event Manager Logo"></a>
                    <!--SEARCH BAR-->
                    <form class="form-inline ml-4" action="search_browseEvents.html" method="GET">                                                                                    <!--incoming search bar-->
                        <input class="form control py-2 border-right-0 border" type="search" placeholder="Search for..." name="searchbar">
                        <button class="btn btn-primary btn-outline-secondary border" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                    <!--HAMBURGER MENU/ NAV LINKS-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="search_browseEvents.html" style="border-right: 1px solid #FFF; padding-right: 20px; margin-right: 10px">Browse Events</a>
                            </li>
                            <!--user icon added after logging in-->
                            <li class="nav-item">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img class="img-circle" src="{{ url_for('static', filename='img/logo.png')}}">                                                  <!--outgoing user image icon-->
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="updatePersonalInfo.html"><i class="fa fa-user fa-md"></i> My Account</a>
                                        <a class="dropdown-item" href="createEvent.html"><i class="fa fa-calendar-plus-o fa-md"></i> Create An Event</a>
                                        <a class="dropdown-item" href="manageEvents.html"><i class="fa fa-edit fa-md"></i> Manage Events</a>
                                        <a class="dropdown-item" href="#modalLogout" data-toggle="modal"><i class="fa fa-sign-out fa-md"></i> Log Out</a>
                                    </div>
                                </div>    
                            </li>
                        </ul>
                    </div>  <!--collapse-->
                </div>  <!--container-->
            </nav>
        </div>  <!--menu-bar-->

        <div class="modal fade" id="modalLogout" tabindex="-1" role="dialog" aria-labelledby="modalHeader" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalHeader">Confirm Logout</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure you want to log out?
                </div>
                <div class="modal-footer">
                  <form action="#" method="POST">
                    <div class="form-group">
                        <input type='button' value="CANCEL" data-dismiss="modal" />      
                        <input type='submit' value="YES" name="userLogout"/>    <!--incoming user logs out-->
                    </div>    
                  </form>
                </div>
              </div>
            </div>
        </div>

        <!-- CONTENTS -->
        <div class="container"> 
            <form action="#" method="POST" >     <!--after submitting this form, redirect to manageEvents.html-->
				<input type="text" name="eventId" value="{{eventId}}" hidden>
                <!-- CREATE / EDIT AN EVENT -->         
                <div class="row row-content"> 
                    <div class="col">
                        <h2>Edit Event</h2>                  

                        <div class="form-group">
                            <label for="eventTitle">Event Title</label>
                            <input type="text" class="form-control" id="eventTitle" placeholder="Event Name" name="title" value="{{ eventTitle }}" required="required">          <!--outgoing event title-->
                        </div>  <!--row-->

                        <div class="form-group">
                            <label for="eventAddress">Event Address</label>
                            <input type="text" class="form-control" id="eventAddress" placeholder="Street" name="address" value="{{ eventAddress }}" required="required">           <!--outgoing event street-->
                        </div>                

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="eventCity">City</label>
                                <input type="text" class="form-control" id="eventCity" name="city" value="{{ eventCity }}" required="required">                                 <!--outgoing event city-->
                            </div>

                            <div class="form-group col-md-4">
                                <label for="eventState">State</label>
                                <select name = "state" id="eventState" class="form-control" value="{{ eventState }}">                                                       <!--outgoing event state-->
                                    <option value="AL"{%  if eventState == 'AL' %} selected {% endif %}>Alabama</option>
                                    <option value="AK"{%  if eventState == 'AK' %} selected {% endif %}>Alaska</option>
                                    <option value="AZ"{%  if eventState == "AZ" %} selected {% endif %}>Arizona</option>
                                    <option value="AR"{%  if eventState == 'AR' %} selected {% endif %}>Arkansas</option>
                                    <option value="CA"{%  if eventState == "CA" %} selected {% endif %}>California</option>
                                    <option value="CO"{%  if eventState == "CO" %} selected {% endif %}>Colorado</option>
                                    <option value="CT"{%  if eventState == "CT" %} selected {% endif %}>Connecticut</option>
                                    <option value="DE"{%  if eventState == "DE" %} selected {% endif %}>Delaware</option>
                                    <option value="DC"{%  if eventState == "DC" %} selected {% endif %}>District Of Columbia</option>
                                    <option value="FL"{%  if eventState == "FL" %} selected {% endif %}>Florida</option>
                                    <option value="GA"{%  if eventState == "GA" %} selected {% endif %}>Georgia</option>
                                    <option value="HI"{%  if eventState == "HI" %} selected {% endif %}>Hawaii</option>
                                    <option value="ID"{%  if eventState == "ID" %} selected {% endif %}>Idaho</option>
                                    <option value="IL"{%  if eventState == "IL" %} selected {% endif %}>Illinois</option>
                                    <option value="IN"{%  if eventState == "IN" %} selected {% endif %}>Indiana</option>
                                    <option value="IA"{%  if eventState == "IA" %} selected {% endif %}>Iowa</option>
                                    <option value="KS"{%  if eventState == "KS" %} selected {% endif %}>Kansas</option>
                                    <option value="KY"{%  if eventState == "KY" %} selected {% endif %}>Kentucky</option>
                                    <option value="LA"{%  if eventState == "LA" %} selected {% endif %}>Louisiana</option>
                                    <option value="ME"{%  if eventState == "ME" %} selected {% endif %}>Maine</option>
                                    <option value="MD"{%  if eventState == "MD" %} selected {% endif %}>Maryland</option>
                                    <option value="MA"{%  if eventState == "MA" %} selected {% endif %}>Massachusetts</option>
                                    <option value="MI"{%  if eventState == "MI" %} selected {% endif %}>Michigan</option>
                                    <option value="MN"{%  if eventState == "MN" %} selected {% endif %}>Minnesota</option>
                                    <option value="MS"{%  if eventState == "MS" %} selected {% endif %}>Mississippi</option>
                                    <option value="MO"{%  if eventState == "MO" %} selected {% endif %}>Missouri</option>
                                    <option value="MT"{%  if eventState == "MT" %} selected {% endif %}>Montana</option>
                                    <option value="NE"{%  if eventState == "NE" %} selected {% endif %}>Nebraska</option>
                                    <option value="NV"{%  if eventState == "NV" %} selected {% endif %}>Nevada</option>
									<option value="NH"{%  if eventState == "NH" %} selected {% endif %}>New Hampshire</option>
                                    <option value="NJ"{%  if eventState == "NJ" %} selected {% endif %}>New Jersey</option>
                                    <option value="NM"{%  if eventState == "NM" %} selected {% endif %}>New Mexico</option>
                                    <option value="NY"{%  if eventState == "NY" %} selected {% endif %}>New York</option>
                                    <option value="NC"{%  if eventState == "NC" %} selected {% endif %}>North Carolina</option>
                                    <option value="ND"{%  if eventState == "ND" %} selected {% endif %}>North Dakota</option>
                                    <option value="OH"{%  if eventState == "OH" %} selected {% endif %}>Ohio</option>
                                    <option value="OK"{%  if eventState == "OK" %} selected {% endif %}>Oklahoma</option>
                                    <option value="OR"{%  if eventState == "OR" %} selected {% endif %}>Oregon</option>
                                    <option value="PA"{%  if eventState == "PA" %} selected {% endif %}>Pennsylvania</option>
                                    <option value="RI"{%  if eventState == "RI" %} selected {% endif %}>Rhode Island</option>
                                    <option value="SC"{%  if eventState == "SC" %} selected {% endif %}>South Carolina</option>
                                    <option value="SD"{%  if eventState == "SD" %} selected {% endif %}>South Dakota</option>
                                    <option value="TN"{%  if eventState == "TN" %} selected {% endif %}>Tennessee</option>
                                    <option value="TX"{%  if eventState == "TX" %} selected {% endif %}>Texas</option>
                                    <option value="UT"{%  if eventState == "UT" %} selected {% endif %}>Utah</option>
                                    <option value="VT"{%  if eventState == "VT" %} selected {% endif %}>Vermont</option>
                                    <option value="VA"{%  if eventState == "VA" %} selected {% endif %}>Virginia</option>
                                    <option value="WA"{%  if eventState == "WA" %} selected {% endif %}>Washington</option>
                                    <option value="WV"{%  if eventState == "WV" %} selected {% endif %}>West Virginia</option>
                                    <option value="WI"{%  if eventState == "WI" %} selected {% endif %}>Wisconsin</option>
                                    <option value="WY"{%  if eventState == "WY" %} selected {% endif %}>Wyoming</option>
                                </select>
                            </div>

                            <div class="form-group col-md-2">
                                <label for="eventZip">Zip</label>
                                <input type="text" class="form-control" id="eventZip" name="zip" value="{{ eventZip }}" onkeypress="numbersOnly(event)" required="required">                           <!--outgoing event zip-->
                            </div>
                        </div>  <!--row-->     

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="eventStartDate">Starts</label>
                                <input type="date" class="form-control" id="eventStartDate" name="startDate" value="{{ eventStartDate }}" required="required">               <!--outgoing start date-->
                                <input type="time" class="form-control" id="eventStartTime" name="startTime" value="{{ eventStartTime }}" required="required">               <!--outgoing start time-->
                            </div>

                            <div class="form-group col-md-6">
                                <label for="eventEndDate">Ends</label>
                                <input type="date" class="form-control" id="eventEndDate" name="endDate" value="{{ eventEndDate }}" required="required">                   <!--outgoing end date-->
                                <input type="time" class="form-control" id="eventEndTime" name="endTime" value="{{ eventEndTime }}" required="required">                   <!--outgoing end time-->
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <label for="eventPrice">Price</label>
                                        <input type="number" step="0.01" min="0" class="form-control" id="eventPrice" placeholder="0.00" name="price" value="{{ eventPrice }}" required="required">    <!--outgoing event price-->
                                    </div>
                                    <div class="col">
                                        <label for="eventCapacity">Max Capacity</label>
                                        <input type="number" min="1" class="form-control" id="eventCapacity" name="maxCapacity" value="{{ eventCap }}" required="required">                             <!--outgoing event capacity-->
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="deadlineDate">Registration Deadline</label>
                                <input type="date" class="form-control" id="deadlineDate" name="deadlineDate" value="{{ eventDeadline }}" required="required">              <!--outgoing deadline date-->
                                <input type="time" class="form-control" id="deadlineTime" name="deadlineTime" value="{{ eventDeadlineTime }}" required="required">              <!--outgoing deadline time-->
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <p>Select an Event Tag:</p>                                                                 <!--outgoing event tag-->
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="eventConcert" value="1" name="eventTag"> 
                                    <label for="eventConcert" class="form-check-label">Concert Tag</label>
                                </div>
                                <div class="form-check">   
                                    <input type="radio" class="form-check-input" id="eventConference" value="2" name="eventTag">       
                                    <label for="eventConference" class="form-check-label">Conference Tag</label>
                                </div>   
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="eventDinner" value="3" name="eventTag"> 
                                    <label for="eventDinner" class="form-check-label">Dinner Tag</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="eventFestival" value="4" name="eventTag"> 
                                    <label for="eventFestival" class="form-check-label">Festival Tag</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="eventMovie" value="5" name="eventTag"> 
                                    <label for="eventMovie" class="form-check-label">Movie Tag</label>
                                </div>
                            </div>
                       
                            <div class="form-group col-md-9">
                                <label for="eventDescr">Event Description</label>
                                <textarea class="form-control" id="eventDescr" name="description" rows="6" cols="50" >{{ eventDes }}</textarea>          <!--outgoing event description-->
                            </div>  <!--row-->

                        </div>  <!--form-row-->     
                    </div> <!--col-->          
                </div>  <!--row-->

                <div class="row row-content">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h2>Manage Users For This Event</h2>
                            </div>
                        </div>

                        <div class="form-row">   
                            <table class="table table-striped table-sortable text-center">
                                <thead>
                                    <tr >
                                        <th>
                                            Username
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Role
                                        </th>
                                        <th>
                                            Delete
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in range (0, userRange) %}
                                    <tr>
                                        <td data-name="nm">
                                            <p>{{usersName[i]}}</p>        <!--outgoing username-->
                                        </td>
                                        <td data-name="mail">
                                            <p>{{usersEmail[i]}}</p>      <!--outgoing email-->
                                        </td>
                                        <td data-name="role">
                                            <p>Attendant</p>					                                            <!--outgoing role-->				
                                        </td>
                                        <td data-name="del">
                                            <form action="#" method="POST">
                                                <div class="form-group">
                                                    <input type='submit' name = 'del' value="Remove" />
                                                    <input type='text' name = 'eventDelUserId' value="{{ eventId }}" hidden/>
                                                    <input type='text' name = 'userDel' value="{{ userId[i] }}" hidden/>
                                                </div>    
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="col">
                                <a role="button" class="btn btn-link" href="mailto:{% for i in range (0, userRange) %} {{usersEmail[i]}} {% endfor %}">
                                    <i class="fa fa-envelope-o"></i> Email all users for this event</a>
                            </div>  <!--col-->
                        </div>  

                        <div class="form-group float-right">
                            <input type='submit' value="DELETE" name="deleteEvent"/>      <!--incoming cancel, go back to previous page-->
                            <input type='submit' value="SAVE" name="saveEvent"/>    <!--incoming save all event data, should redirect to manageEvents.html based on <form action>-->
                        </div>      
                    </div>
                </div>
            </form>
        </div>  <!--container-->

        <!-- FOOTER -->
        <footer class="site-footer">    
            <div class="container-fluid"> 
                <div class="row">   
                    <div class="col">
                        <div class="media">
                            <img src="{{ url_for('static', filename='img/logo.png')}}" alt="Event Manager Logo">
                            <div class="media-body align-self-center">
                                <p>&copy; <script>document.write(new Date().getFullYear())</script> | Event Manager</p>
                            </div>  <!--media-body-->
                        </div>  <!--media-->
                    </div>  <!--col-->
                    <!-- SOCIAL LINKS -->
                    <div class="col text-center">
                        <a class="btn btn-instagram btn-lg" href="http://instagram.com/"> 
                            <i class="fa fa-instagram fa-md"></i> 
                        </a>
                        <a class="btn btn-facebook btn-lg" href="http://facebook.com/"> 
                            <i class="fa fa-facebook fa-md"></i>
                        </a>
                        <a class="btn btn-twitter btn-lg" href="http://twitter.com/">
                            <i class="fa fa-twitter fa-md"></i>
                        </a>
                        <a class="btn btn-youtube btn-lg" href="http://youtube.com/">
                            <i class="fa fa-youtube fa-md"></i>
                        </a>
                    </div>  <!--col-->
                    <div class="col text-right">
                        <a class="btn btn-floating" href="#">
                            <i class="fa fa-arrow-circle-up"></i> Back to top
                        </a>
                    </div>  <!--col-->
                </div> <!--row-->
            </div>  <!--container-->
        </footer>

        <!-- JavaScript Bundle for Bootstrap-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Owl Carousel script-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- Custom Scripts-->
        <script src="{{ url_for('static', filename='js/numsVal.js')}}"></script>
    </body>
</html>
