<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS -->   
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--Custom Styles-->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}" /> 

        <!-- Owl Carousel -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png')}}" />
        <title>Capstone | Event Manager</title>
    </head>

    <body>
        <div class="menu-bar">
            <!-- NAVBAR -->
            <nav class="navbar navbar-expand-md navbar-dark sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="index_userLoggedIn.html"><img src="{{ url_for('static', filename='img/logo.png')}}" alt="Event Manager Logo"></a>
                    <!--SEARCH BAR-->
                    <form class="form-inline ml-4" action="search_browseEvents.html" method="POST">                                                                            <!--incoming search bar-->
                        <input class="form control py-2 border-right-0 border" type="search" placeholder="Search for..." name="searchbar">
                        <button class="btn btn-primary btn-outline-secondary border" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                    <!--HAMBURGER MENU/ NAV LINKS-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="search_browseEvents.html" style="border-right: 1px solid #FFF; padding-right: 20px; margin-right: 10px">Browse Events</a>
                            </li>
                            <!--user icon added after logging in-->
                            <li class="nav-item">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img class="img-circle" src="{{ url_for('static', filename='img/logo.png')}}">
                                          <!-- <span class="caret"></span> -->
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="updatePersonalInfo.html"><i class="fa fa-user fa-md"></i> My Account</a>
                                        <a class="dropdown-item" href="createEvent.html"><i class="fa fa-calendar-plus-o fa-md"></i> Create An Event</a>
                                        <a class="dropdown-item" href="manageEvents.html"><i class="fa fa-edit fa-md"></i> Manage Events</a>
                                        <a class="dropdown-item" href="#modalLogout" data-toggle="modal"><i class="fa fa-sign-out fa-md"></i> Log Out</a>
                                    </div>
                                </div>    
                            </li>
                        </ul>
                    </div>  <!--collapse-->
                </div>  <!--container-->
            </nav>
        </div>  <!--menu-bar-->

        <!--Logout modal-->
        <div class="modal fade" id="modalLogout" tabindex="-1" role="dialog" aria-labelledby="modalHeader" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalHeader">Confirm Logout</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure you want to log out?
                </div>
                <div class="modal-footer">
                  <form action="logout.html" method="POST">
                    <div class="form-group">
                        <input type='button' value="CANCEL" data-dismiss="modal" />      
                        <input type='submit' value="YES" name="userLogout"/>    <!--incoming user logs out-->
                    </div>    
                  </form>
                </div>
              </div>
            </div>
        </div>

        <!-- CONTENTS -->
        <div class="container">

            <div class="row row-content">
                <!-- YOUR EVENTS -->
                <div class="col-12 col-md-6 mx-auto">  
                    <h2>{{ name }}'s Events</h2>
                    <div id="homeCarousel" class="carousel slide" data-ride="carousel"> 
                        <div class="carousel-inner">   
							{% for i in range (0,adEventRange) %}
                            <div class="carousel-item {% if i == 0 %} active {% endif %}"> 
                                <img class="d-block w-100" src="{{ url_for('static', filename=adEventsItag[i])}}" alt="Concert Event" /> 
                                <div class="carousel-caption">                                                                    <!--outgoing event title-->
                                    <form action="{{url_for('eventDetails')}}" id="eventDetailForm", method="POST">
                                        <h3><input type="text" name="eventId" value="{{adEventsId[i]}}" hidden>
                                         <input type="submit" value="{{ adEventsTitle[i] }}" id="adminTitle"></h3>
                                     </form>                <!--outgoing event title-->
                                    <p class="d-none d-sm-block">{{ adEventsSDate[i] }} to {{ adEventsEDate[i] }}</p>                                            <!--outgoing event date & time-->
                                </div>  <!--carousel-caption-->
                            </div>  <!--carousel-item-->
							{% endfor %}
                        </div>  <!--carousel-inner-->
                        <a class="carousel-control-prev" href="#homeCarousel" role="button" data-slide="prev"> 
                            <span class="carousel-control-prev-icon"></span>    
                            <span class="sr-only">Previous</span>   
                        </a>
                        <a class="carousel-control-next" href="#homeCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>  <!--homeCarousel-->
                </div>  <!--col-->

                <!-- ATTENDING -->
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h2>Attending</h2>
                        </div>
                        <div class="scrollable">
                            <ul class="list-group list-group-hover">
								{% for i in range (0, atEventRange) %}
                                <li class="list-group-item w-100">
                                     <form action="{{url_for('eventDetails')}}" id="eventDetailForm", method="POST">
                                        <input type="text" name="eventId" value="{{atEventsId[i]}}" hidden>
                                        <input type="submit" value="{{ atEventsTitle[i] }}" id="attendingTitle">
                                    </form>                <!--outgoing event title-->
                                    <i class="fa fa-calendar" aria-hidden="true"></i> {{ atEventsSDate[i] }} to {{ atEventsEDate[i] }}                  <!--outgoing event date & time-->
                                    <span class="text-muted"></span> </br>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> {{ atEventsSTime[i] }} - {{ atEventsETime[i] }}                              <!--outgoing event deadline-->
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>  <!--card-->
                </div>  <!--col-->
            </div>  <!--row-->
            
             <!-- POPULAR EVENTS -->
             <div class="row row-content">
                <div class="col-sm-6">
                    <h2>Popular Events</h2>
                </div>  <!--col-->
                <div class="owl-carousel owl-theme">
                    {% for i in range (0, popEventRange) %}
                    <div class="ms-2 me-2">
                        <div class="card">
                            <img src="{{ url_for('static', filename=popEventsItag[i])}}" alt="Concert Event" class="card-img-top">    <!--outgoing event image-->
                            <div class="card-body">
                                <h4 class="card-title">{{ popEventsTitle[i] }}</h4>                                                                  <!--outgoing event title-->
                                <p class="card-text">{{ popEventsDetails[i] }}</p>      
                                <form action="{{url_for('eventDetails')}}" id="eventDetailForm", method="POST">
                                    <input type="text" name="eventId" value="{{popEventsId[i]}}" hidden>
                                    <input type="submit" value="Read More">
                                </form>                      
                            </div>  <!--card-body-->
                        </div>  <!--card-->
                    </div>  <!--ms-2 me-2-->
                    {% endfor %}
                </div>  <!--owl-carousel-->
            </div>  <!--row-->

           <!-- UPCOMING EVENTS -->
           <div class="row row-content">
            <div class="col-sm-6">
                <h2>Nearby Events</h2>
            </div>  <!--col-->
            <div class="owl-carousel owl-theme">
                {% for i in range (0, locEventRange) %}
                <div class="ms-2 me-2">
                    <div class="card" id="nearEvent0">
                        <img src="{{ url_for('static', filename=nearEventsItag[i])}}" alt="Concert Event" class="card-img-top">    <!--outgoing event image-->
                        <div class="card-body">
                            <h4 class="card-title">{{ nearEventsTitle[i] }}</h4>                                                                  <!--outgoing event title-->
                            <p class="card-text">{{ nearEventsDetails[i] }}</p>                                                                    <!--outgoing concert details-->
                            <form action="{{url_for('eventDetails')}}" id="eventDetailForm", method="POST">
                                <input type="text" name="eventId" value="{{nearEventsId[i]}}" hidden>
                                <input type="submit" value="Read More">
                            </form>
                        </div>  <!--card-body-->
                    </div>  <!--card-->
                </div>  <!--ms-2 me-2-->   
                {% endfor %}    
            </div>  <!--owl-carousel-->
        </div>  <!--row-->
        </div>  <!--container-->
        </div>  <!--container-->
       
        <!-- FOOTER -->
        <footer class="site-footer">    
            <div class="container-fluid"> 
                <div class="row">   
                    <div class="col">
                        <div class="media">
                            <img src="{{ url_for('static', filename='img/logo.png')}}" alt="Event Manager Logo">
                            <div class="media-body align-self-center">
                                <p>&copy; <script>document.write(new Date().getFullYear())</script> | Event Manager</p>
                            </div>  <!--media-body-->
                        </div>  <!--media-->
                    </div>  <!--col-->
                    <!-- SOCIAL LINKS -->
                    <div class="col text-center">
                        <a class="btn btn-instagram btn-lg" href="http://instagram.com/"> 
                            <i class="fa fa-instagram fa-md"></i> 
                        </a>
                        <a class="btn btn-facebook btn-lg" href="http://facebook.com/"> 
                            <i class="fa fa-facebook fa-md"></i>
                        </a>
                        <a class="btn btn-twitter btn-lg" href="http://twitter.com/">
                            <i class="fa fa-twitter fa-md"></i>
                        </a>
                        <a class="btn btn-youtube btn-lg" href="http://youtube.com/">
                            <i class="fa fa-youtube fa-md"></i>
                        </a>
                    </div>  <!--col-->
                    <div class="col text-right">
                        <a class="btn btn-floating" href="#">
                            <i class="fa fa-arrow-circle-up"></i> Back to top
                        </a>
                    </div>  <!--col-->
                </div> <!--row-->
            </div>  <!--container-->
        </footer>

        <!-- JavaScript Bundle for Bootstrap-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Owl Carousel script-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- Custom Scripts-->
        <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    </body>
</html>
