/*-----DEFAULT-----*/
h1 {
    font-weight: bold;
    color: white;
}

p {
    color: white;
}

h2 {
    font-weight: bold;
    margin-bottom: 30px;
}

h4 {
    font-weight: bold;
}

/*-----NAVBAR-----*/
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}

.menu-bar {
    background-image: linear-gradient(-90deg, #125fd3, #a83279);
}

.nav-link {
    font-size: 15px;
    margin: 3px;
    font-weight: 500;
}

@media only screen and (max-width: 767px) {
    .nav-link {
        border-right: none !important; 
        padding-right: 50px !important; 
        margin-right: none !important;
    }
}

.nav-link:hover {
    font-weight: bold;
    border-bottom: 1px solid #fff;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
}

.navbar-nav {
    text-align: right;
    margin-right: 20px;
}

.menu-bar .navbar-toggle {
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}

.navbar .fa {
    color: #fff;
    font-size: 16px;
}

.navbar-brand img {
    width: 40px;
    margin-left: 10px;
}

.navbar form {
    display: flex;
}

.navbar form:focus::placeholder {
    color: transparent;
}

.navbar form input {
    border-radius: 10px 5px 5px 10px;
}

/** User icon dropdown **/
.dropdown-menu .fa {
    color: black;
}

.img-circle {
    border-radius: 50%;
    width: 30px;
}

.modal-title {
    font-weight: bold;
}

/*-----HEADER-----*/
.jumbotron{
    background-image: linear-gradient(#333044, #1F1D2B);
}

.jumbotron button:hover, .site-footer button:hover {
    background-color: white;
    color: blue;
    font-weight: bold;
}

/*-----CONTENT-----*/
.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.row-content p {
    color: black;
}

.img-thumbnail {    /** event details img **/
    width: 50%;
}

/** event details **/
.media h3 {
    font-weight: bold;
}

.media button {
    margin-top: 20px;
    min-width: 200px;
}

.media button:hover {
    background-color: white;
    color: blue;
    font-weight: bold;
}
/********************/

.scrollable {   /** "attending" scrolling **/
    overflow-y: auto;
    max-height: 300px;
}

.lead {
    font-weight: bold;
}

/** owl carousel for each events **/
.card-img-top, .carousel-item img {
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.3);
}

.carousel-caption p {
    color: white;
    font-weight: bold;
}

.card p {
    color:#000;
}

.card-body input {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 6px 12px;
    border-radius: 0.25rem;
}

.card-body input:hover {
    color: #dc3545;
    font-weight: bold;
    background-color: #ffff;
}

.owl-prev {
    left: -30px;
}

.owl-next {
    right: -30px;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 90px;
}

.owl-prev span, .owl-next span {
    font-size: 80px;
    color: black;
}

.owl-theme, .owl-nav[class="owl-"]:hover {
    background: transparent;
}
/**************************************/

.table .fa:hover {
    color: red;
}

/**************************************/

/** search box when filtering through your events **/
.form {
    position: relative;
    text-align: right;
}

.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af
}

.form span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
}

.form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-control {
    width: 100%;
}
/********************************************************/

.card img {      /** event list thumbnail img **/
    width: 100%;
    height: 13rem;
    object-fit: cover;
}

.progress { /* capacity bar */
    height: 10px;
    width: 150px;
}

.plus-button {
	border: 2px solid lightgrey;
	background-color: #fff;
	font-size: 16px;
	height: 2.5em;
	width: 2.5em;
	border-radius: 999px;
}

.plus-button--large {
	font-size: 40px;
    font-weight: 700;
}

.edit-delete {  /** EDIT | DELETE **/
	color: indianred;
	font-size: 1rem;
	z-index: 10;
    position: relative;
}

.vertical-line {
    border-left: 1px solid #ccc;
    margin: 0 10px;
    height: 1.2rem;
}

.nav-tabs {
    color: black;
}

p span {
    display: block;
}

.media input[type=submit] {
	background-color: #017BFF;
	border: none;
	border-radius: 18px;
	color: white;
	padding: 10px 32px;
	text-decoration: none;
	margin: 10px 2px;
	cursor: pointer;
	width: 30%;
}

.media input[type=submit]:hover, #attendButton:hover {
	background-color: white;
    color: #017BFF;
    font-weight: bold;
    border: 1px solid #017BFF;
}

/* SUBMIT / CANCEL */
.form-group input[type=submit], #attendButton, #editButton {
    background-color: #017BFF;
	border: none;
	border-radius: 18px;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	margin: 10px 2px;
	cursor: pointer;
}
.form-group input[type=button], #leaveButton {
    background-color: #DC3545;
	border: none;
	border-radius: 18px;
    color: white;
	padding: 10px 20px;
	text-decoration: none;
	margin: 10px 2px;
	cursor: pointer;
}

#adminTitle {
    padding: 0;
    border: none;
    background: none;
    color: white;
}

#attendingTitle {
    padding: 0;
    border: none;
    background: none;
}

#attendingTitle:hover {
    color: blue;
}

/*-----FOOTER-----*/
.site-footer {
    background-image: linear-gradient(#333044, #1F1D2B);
    padding: 20px 0;
}

.site-footer img {
    width: 40px;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.site-footer a {
    color: white;
    font-weight: 500;
}

.site-footer a:hover {
    color: white;
    font-weight: 600;
}

.site-footer .fa:hover {
    color: rgb(11, 141, 216);
}

.site-footer .text-right {
    margin-right: 40px;
}